<html>

<head>
    <title>
        PII Form Submission Site
    </title>
</head>

<body>
    <form method="POST">
        <fieldset>
            <legend>PII:</legend>
            First name: <input type="text" name="first_name" placeholder="First Name" value={{first_name}}><br>
            Last name:<input type="text" name="last_name" placeholder="Last Name" value={{last_name}}><br>
            Address:<input type="text" name="address" placeholder="Address" value={{address}}><br>
            E-mail:<input type="text" name="email" placeholder="E-mail" value={{email}}><br>
            Date of Birth:<input type="text" name="dob" placeholder="Date of Birth" value={{dob}}><br>
        </fieldset>
        <input type="submit" value="Submit Form">
    </form>
</body>

</html>